* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Montserrat", sans-serif;
}
main {
  background-color: hsl(0, 0%, 100%);
  margin: 95px auto 20px auto;
  width: 290px;
  height: 450px;
  border-radius: 4.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.014),
    0 6px 20px 0 rgba(0, 0, 0, 0.041);
}
img {
  max-width: 260px;
  margin: 15px;
  height: 260px;
  width: 270px;
  border-radius: 3%;
}
h2 {
  width: 90%;
  text-align: center;
  margin: auto;
  color: hsl(218, 44%, 22%);

  font-size: 18px;
  font-weight: 700;
  font-weight: bolder;
}
p {
  width: 92%;
  text-align: center;
  margin: 20px 10px;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}
footer {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
